@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BOX SIZING */
html {
    box-sizing: border-box;
}
    *, *:before, *:after {
        box-sizing: inherit;
    }

/* MIS ESTILOS */ 
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(100px 1fr 1fr 1fr 20px);
    grid-template-areas:
    "cabeza cabeza cabeza cabeza . lado"
    ". principal principal principal . lado"
    ". principal principal principal . lado"
    "pie pie pie pie pie pie";
    gap: 5px;
}

header {
    grid-area: cabeza;
    background-color: #f0e68c;
}

main {
    grid-area: principal;
    background-color: #c4c4c4;
    display: flex;
    flex-wrap: wrap;
}

aside {
    grid-area: lado;
    background-color: #90ee90;
}

footer {
    grid-area: pie;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    padding: .8rem;
}

object, svg {
    width: 20vw;
}

h1, h2, p, li {
    font-family: 'Muli', sans-serif;
    padding: .4rem;
}

h1 {
    font-size: 4rem;
    color: #053600;
}
    